@model WhereDaGrubAt.Models.RecipeCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>


<p>
    <a asp-action="Create">Create New Recipe</a>
</p>

<form asp-controller="Recipes" asp-action="Index" method="get">
    <p>
        Category: <select asp-for="RecipeCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        </p>
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].ServingSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServingSize)
                </td>
                <td>
                    @if (item.NotUserDefined == false)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit  |</a>

                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.NotUserDefined == false)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">| Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
