<!--David Lockwood
    ShoppingLists/Index view
    Displays table containing all shopping list objects and a select list to filter shopping lists by title-->

@model WhereDaGrubAt.Models.ShoppingListViewModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        fieldset {
            display: block;
            padding-top: 0.35em;
            padding-bottom: 0.625em;
            padding-left: 0.75em;
            padding-right: 0.75em;
            border: 2px groove;
        }

        legend {
            background-color: gray;
            color: white;
            padding: 5px 10px;
        }

        input {
            margin: 5px;
        }

        select {
            margin: 5px;
        }

        td, th {
            font-family: Calibri;
            position: relative;
            vertical-align: bottom;
        }
    </style>

</head>

<p></p>
<h1>Shopping List</h1>
<p></p>

<form asp-controller="ShoppingLists" asp-action="Index" method="get">
    <fieldset>
        <legend>Select Shopping List</legend>
        <p>
            Title: <select asp-for="ListTitle" asp-items="Model.ListNames">
                <option value="">All</option>
            </select>
            <input type="submit" value="Filter" />
        </p>
    </fieldset>
</form>

<p></p>
<p>
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "ShoppingLists")'">Add Item</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List[0].ItemQuantity)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Checked)
                </td>
                <td>
                    <a asp-action="SaveList" asp-route-id="@item.Id"><button class="btn btn-primary btn-sm">Save to List</button></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary btn-sm">Edit</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger btn-sm">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
